{% if info or json %}<div class="book">{% if header %}<div {{ header }}>{% endif %}{% if json %}
<textarea rows="10">{{ json }}</textarea>{% else %}
  <table>
    <tr>
      {% if photo %}<td class="cover">{{ photo|safe }}</td>{% endif %}
      <td>
	    <table>
	    {% for pair in info %}<tr><td class=field>{{ pair.0 }}:</td> <td>{{ pair.1|safe }}</td></tr>{% endfor %}
	    </table>
      </td>
    </tr>
  {% endif %}
  </table>{% if header %}</div>{% endif %}
  <p><h3>Output as preformated JSON:</h3>{{formats|safe}}</p>
</div>
{% else %}
<br/>
ISBN is not valid.
{% endif %}
