body
{
	background-color: white;
	font-size: 12pt;
	color: black;
}

body, h1, h2, h3, ol, ul, li, p, small
{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.container {
	margin: 0 auto;
	width: 800px;
}

.title { padding: 0.5em 0 0.5em 0 }
.title a { text-decoration: none; color: black; }

.title hr
{
 	height: 2px;
 	width: 100%;
 	background-color: Coral;
	border-width: 0;
}

.cover, .coversmall { padding-right: 1em; }
.cover img { width: 140px; }
.coversmall img { height: 70px; }

.field {
    padding-right: 1em;
}

td { vertical-align: top; }

p { padding-bottom: .5em; }

h1 { font-size: 2em; }

h2 {
	font-size: 1.25em;
 	padding-top: .5em;
}

h3 {
    font-size: 1em;
    color: #707070;
}

em { color: darkblue; }
.quiet { color: #999; }

pre, code { font-size: .7em; }

code ul {
	list-style: none;
    margin-left: 0;
}

code li {
    margin-left: 0;
}

.cell {
    display: table-cell;
    vertical-align: top;
}
    
a:hover {
	color: black;
}

.book {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: GhostWhite;
    border: 1px solid Silver;
    padding: .75em 1em;
    margin-top: .5em;
}

ol, ul, li {
	margin-left: 1em;
}

textarea
{
    background-color: GhostWhite;
    border-width: 0px;
    width: 100%;
}

/* Floats */

.left { float: left; }
.right { float: right; }

.clear, .clearer { clear: both; }
.clearer {
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
}

/* Footer */

.footer {
	font-size: .9em;
    padding: .75em;
}

.footer a {
	color: #579;
	text-decoration: none;
}

.footer a:hover {
	color: black;
}

/* Demo tabs */

div.demo div.dbody {
    padding-left: 1em;
}

div.demo {
	border: 1px solid lightgray;
	padding: 1em;
}

ul.demo {
	list-style: none;
	margin: .5em 0 0 0;
	padding-bottom: 2px;
	height: 1.2em;
}

ul.demo li.tab {
	float: left;
	margin-right: 0.5em;
	margin-left: 0em;
}

ul.demo li.tab a {
	display: block;
	padding: 0 1em 0 1em;
	background-color: white;
	text-decoration: none;
	color: #579;
	border: 1px solid lightgray;
	background-color: #eee;
}

ul.demo li.tab a.active {
    background-color: white;
    border-bottom-width: 0;
    padding-bottom: 1px;
}

ul.demo li.tab a:hover {
    color: black;
}

