<!--
  <ul>
    {% for pair in info %}
        {% if pair.value %}
        <li>{{ pair.key }}: {{ pair.value }}</li>
        {% endif %}
    {% endfor %}
  </ul>
-->
    <div class="book">
      <table>
        {% for pair in info %}
            {% if pair.value %}
            <tr>
                <td style="padding-right: 10px;">{{ pair.key }}:</td>
                <td>{{ pair.value }}</td>
            </tr>
            {% endif %}
        {% endfor %}
      </table>
    </div>
