<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head profile="http://a9.com/-/spec/opensearch/1.1/">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/prettify.css" media="screen" />
    <link rel="search"
        type="application/opensearchdescription+xml" 
        href="http://www.isbner.org/opensearch-description.xml"
        title="Isbner book search" />
    {% block opensearch %}{% endblock %}
    <script type="text/javascript" src="/js/prettify.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("prototype", "1.7.0.0");
    </script>
    <script type="text/javascript" src="/js/livepipe.js"></script>
    <script type="text/javascript" src="/js/tabs.js"></script>
    <title>Isbner</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3591807-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body id="top" onload="prettyPrint()">

<div class="container">

<div class="title" valign="top">
    <h1><a href="/">Aggregated ISBN book search</a></h1>
    <hr/>
</div>

<div class="content" valign="top">
{% block content %}
{% include "main.html" %}
{% endblock %}
</div>

{% include "footer.html" %}

</div>

</body>
</html>
