{% extends "index.html" %}

{% block content %}

<h2 class="page-title">Terms of Service</h2>
<ol>
    <li>Using this website means that you agree with current Terms.</li>
    <li>You can use Service for your personal, non-commercial purposes only.</li>
    <li>The automatic use of Service is available only through an authorized API.</li>
    <li>You do not need to register to use the Service. It is possible member access will follow, but under no conditions any of the features available for free now will become paid in the future.</li>
    <li>We will not sell or distribute any of personally-identifiable information nobody.</li>
    <li>Information provided on this Service is collected from public sources and may contain errors, copyrighted content or subjects of local, national or international low. You use the Service on you own risk, and any complains should be sent directly to the information source service.</li>
    <li>This Service is made with respect to information sources Terms of Use rules. Within this Service we do not guaranty availability of any piece of information accessible directly from the information source.</li>
    <li>This Service depends on the underlying infrastructure and can become unavailable at any time, by schedule or not. In case the Service interruption will be scheduled appropriate message will appear in our news stream.</li>
    <li>It is important you do not try to harvest the information about large bunches of books, otherwise the Service will violate information sources Terms of Service and will be disconnected.</li>
    <li>We reserve the rule to change the Terms at any time. We will publish a notice about any upcoming changes openly and beforehand.</li>
</ol>

<h2 class="page-title">API Terms of Service</h2>
<ol>
    <li>You should not request any method more than once a second.</li>
    <li>Offer a backlink to the Service if you use the API as part of your project.</li>
    <li>Do not sublicense or redistribute the data to any 3rd parties.</li>
    <li>Do not use this API for commercial products without our written permission.</li>
</ol>

{% endblock %}
